.card-fadeIn {
    animation: fadeIn 2s;
}

.video-fadeIn {
    animation: fadeIn 2s;
}

.carAnimation {
    animation: car 2s;
}

.dataName {
    display: inline;
    padding: 10px 50px 10px 50px;
    width: 100%;
}

.dataName:hover {
    background: #db1a2a;
    border-radius: 5px;
    color: #fff !important;
    transition: background .5s;
}


// Schedule a test drive button effect
.btnSchedule {
    transition: .35s ease;
    position: relative;
    color: #8c8a8a;

}


.btnSchedule::before,
.btnSchedule::after {
    content: '';
    height: 14px;
    width: 14px;
    position: absolute;
    transition: all .35s ease;
    opacity: 0;
}

.btnSchedule::before {
    content: '';
    right: 0;
    top: 0;
    border-top: 3px solid #ff150c;
    border-right: 3px solid #a22020;
    transform: translate(-100%, 50%);
}

.btnSchedule:after {
    content: '';
    left: 0;
    bottom: 0;
    border-bottom: 3px solid rgb(255, 58, 47);
    border-left: 3px solid #e22424;
    transform: translate(100%, -50%)
}

.btnSchedule:hover:before,
.btnSchedule:hover:after {
    transform: translate(0, 0);
    opacity: 1;
}

.btnSchedule:hover {
    color: #f41010;
}