// Project specific components
.nav-link {
    margin-left: 1rem;
    margin-right: 1rem;
}

.navbar-logo-span {
    letter-spacing: 1px;
    margin-left: -2%;
    padding-top: 5%;
    font-size: 1.4rem;
}